header {
    background-color: gray;
    padding: auto;
    margin: auto;
    height: auto;
}

main {
    background-color: lightblue;
    padding: auto;
    margin: auto;
    height: auto;
}

footer {
    background-color: gray;
    padding: auto;
    margin: auto;
    height: auto;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 35 px;
    text-align: center;

}
h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 25 px;
    text-align: center;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18 px;
    text-align:center;
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size:17 px;
    text-align: center;
}

li {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17 px;
    text-align: left;
}

img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

a:link {color:blue}
a:visited {color:red}
a:hover {color: purple}
a:active {color:green}