header {
    background-color: gray;
    padding: 50px;
    margin: 50px;
    height: 3em;
}

main {
    background-color: lightblue;
    padding: 50px;
    margin: 50px;
    height: 3em;
}

footer {
    background-color: gray;
    padding: 45px;
    margin:45 px;
    height: 3em;
}

h1 {
    font-family:'Times New Roman', Times, serif;
    font-size: 35 px;
    text-align: center;

}
h2 {
    font-family:'Times New Roman', Times, serif;
    font-size: 25 px;
    text-align: center;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18 px;
    text-align:center;
}

p {
    font-family:'Times New Roman', Times, serif;
    font-size:x-small;
    text-align: center;
}

li {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-small;
    text-align: left;
}

